html {
  box-sizing: border-box;
  font-family: "Roboto";
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
